.print-status-page {
    .content {
        text-align: center;
        margin-top: 60px;
    }
    .icon {
        width: 95px;
        height: 95px;
        color: #FFF500;
    }
    .status {
        font-size: 32px;
        font-weight: 600;
        color: #FFF500;
        margin-bottom: 5px;
    }
    .estimate-time {
        font-size: 14px;
    }
}