* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// html {
//     font-size: 62.5%;
// }

body {
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
}

ul, h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Livvic', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

button {
    border: 0;
    outline: none;
}

input {
    outline: none;
    border: none;

    &::placeholder {
        font-size: 16px;
    }
}